<h1>Scheduled SMS Data List</h1>
This data will be sent soon<br>


<table>
    <tr>
        <td>Number</td>
        <td>Created</td>
        <td>Next Sending Time</td>
        <td>Try</td>
        <td>Sender</td>
        <td>Message</td>
    </tr>
{% for sms in data.list %}
    <tr>
        <td>{{ sms.number.value }}</td>
        <td>{{ sms.created.value | date('m-d H:i:s')}}</td>
        <td>
            {{ sms.stamp_next_send.value ? sms.stamp_next_send.value | date('m-d H:i:s') : '0'}}
        </td>
        <td>{{ sms.no_send_stry.value }}</td>
        <td>{{ sms.sender.value }}</td>
        <td>{{ sms.message.value }}</td>
    </tr>
{% endfor %}

</table>
